@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.input-res
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font: 15px/1 'Open Sans', sans-serif;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 50%;
  min-width: 200px;
  background-color: #ddd;
  border: none;
  padding: 9px 11px 9px 11px;
  border-radius: 15px;
  box-shadow: none;
  outline: none;
  box-sizing: border-box; 
}

#nvnm::after {
  content: 'BETA';
  font-size: 10px;
  vertical-align: top;
  /* color: rgb(77, 16, 77); */
}